@import url(/css/responsive.css);
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

@font-face {
    font-family: 'JalnanGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'seolleimcool-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/seolleimcool-SemiBold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: 'seolleimcool-SemiBold';
}

a {
    text-decoration: none;
}

a:visited {
    color: #000
}

a:link {
    color: #000;
}

.section:nth-child(1) {
    background-color: #000;
}

/* 모바일 */



@keyframes scroll_down {
    0% {
        transform: translateY(0)
    }

    100% {
        transform: translateY(-10px)
    }
}

/* 아래에서 위로  */

.reveal {
    position: relative;
    transform: translateY(-150px);
    opacity: 0;
    transition: 2s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
    display: block;
    white-space: nowrap;
}

.reveal2 {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1.5s all ease;
}

.reveal2.active {
    transform: translateY(0);
    opacity: 1;
}

.reveal3 {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
}

.reveal3.active {
    transform: translateY(0);
    opacity: 1;
}