@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

@font-face {
    font-family: 'JalnanGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



* {
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

a {
    text-decoration: none;
}

a:visited {
    color: #000
}

a:link {
    color: #000;
}

.mobileNotification {
    display: none;
    position: relative;
    top: 0px;
    left: 0;
    width: 100%;
    border-top: 1px solid #fff;
    color: #fff;
    text-align: center;
    font-size: 13px;
    z-index: 999;
    padding: 20px;
    margin-top: 20px;
}


/* 모바일  */
@media (max-width: 767px) {
    #fullpage {
        height: 1000px !important;
    }

    #logo {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        height: 100vh;
    }

    .mobileNotification {
        display: block;
    }

    .logo-img {

        max-width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .information-wrap {
        display: none;
        position: relative;
    }

    .scroll-down {
        position: absolute;
        width: 100%;
        text-align: center;
        bottom: 50px;
        z-index: 900;
        animation: scroll_down 0.5s linear alternate infinite;
    }

    .wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
    }

    .about-myfaceimg {
        width: 300px;
        height: 300px;
        border-radius: 15%;
        overflow: hidden;
        border: none;
    }

    .about-myfaceimg .myimg {
        width: 100%;
        height: 100%;
        object-fit: cover;

    }

    .about-sklis {
        display: flex;
        flex-direction: column;
        font-size: 14px;
        font-family: 'Noto Sans KR', sans-serif;
    }

    .about-sklis .hashtag {
        font-size: 1.2em;
        text-align: center;
        color: #fe8c13;
        font-family: 'JalnanGothic';

    }

    .ab-p {
        color: #525252;
    }

    .ab-company {
        line-height: 0;
        padding: 4px 0;
        word-break: keep-all;
    }

    .wrap-po {
        width: 85%;
    }

    .work-detail-wrap {
        width: 300px;
    }

    #work .wrap-work-img {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #work {
        display: flex;
        width: 100%;
        justify-content: center;
        flex-direction: column;
    }

    .work-img {
        border: 1px solid #999;
        border-radius: 30px;
        object-fit: cover;
        width: 100%;
    }

    #work .work-wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 50px;
    }

    #work .work-wrap .workdetail {
        opacity: 1;
        color: #eaeaea;
        font-size: 0.9rem;
        font-weight: 400;
        line-height: 1rem;
    }


    #work .work-wrap .workname {
        font-size: 2.45rem;
        font-weight: 800;
        line-height: 0;
        word-break: keep-all;
    }

    .work-lang {
        display: inline-block;
        margin: 1rem 0 1rem;
    }

    .work-lang-name {
        color: #eaeaea;
        font-size: 0.8rem;
        font-weight: 400;

    }

    #work-lang-before::before {
        background-color: #eaeaea;
        content: "";
        display: inline-block;
        height: 15px;
        margin-right: 10px;
        transform: skew(-15deg, -15deg);
        vertical-align: middle;
        width: 1px;
    }

    .work-detail {
        word-wrap: break-word;
        color: #4e4e4e;
        font-size: 0.6rem;
        font-weight: 500;
        line-height: 180%;
        word-break: keep-all;
    }

    .work-link {
        cursor: pointer;
    }

    .work-link .icons {
        margin-right: 10px;
    }

}

@media (min-width: 768px) and (max-width: 991px) {}

@media (min-width: 992px) and (max-width: 1199px) {}

/* 컴퓨터  */
@media (min-width: 1200px) {
    #logo {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo-img {
        height: auto;
        padding: 250px;
        display: flex;
        justify-content: space-between;
    }



    #information {
        position: fixed;
        width: 90%;
        left: 5%;
        top: 1rem;
        padding: 5px;
        display: flex;
        justify-content: center;
        z-index: 9999;
    }


    .information-wrap {
        color: #ffffff;
        padding: 10px;
        font-size: 20px;

    }

    #information .left {
        position: absolute;
        left: 0;
    }

    #information .center {
        position: static;
    }

    #information .right {
        position: absolute;
        right: 0;
    }

    #information .right::before {
        content: "";
        display: block;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        position: absolute;
        left: -10px;
        bottom: 20px;
        color: rgb(173, 255, 148);
        background-color: rgb(173, 255, 148);
    }

    .scroll-down {
        position: absolute;
        width: 100%;
        text-align: center;
        bottom: 50px;
        z-index: 900;
        animation: scroll_down 0.5s linear alternate infinite;
    }

    .wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .about-myfaceimg {
        width: 600px;
        height: 600px;
        border-radius: 15%;
        overflow: hidden;
        border: none;
    }

    .about-myfaceimg .myimg {
        width: 100%;
        height: 100%;
        object-fit: cover;

    }

    .about-sklis {
        font-size: 25px;
        margin-left: 200px;
        font-family: 'JalnanGothic';
    }

    .about-sklis .hashtag {
        font-size: 30px;
        color: #fe8c13;
        font-family: 'Noto Sans KR', sans-serif;
    }

    .ab-p {
        color: #525252;
    }

    .ab-company {
        color: #525252;
        font-family: 'Noto Sans KR', sans-serif;
        line-height: 0;
    }

    #work {
        display: flex;
        gap: 7rem;
        width: 100%;
        justify-content: center;
    }

    .work-img {
        border: 1px solid #999;
        border-radius: 30px;
        height: 25rem;
        object-fit: cover;
        width: 100%;
    }

    #work .work-wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #work .work-wrap .workdetail {
        opacity: 1;
        color: #eaeaea;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1rem;
    }


    #work .work-wrap .workname {
        font-size: 5rem;
        font-weight: 800;
        line-height: 0;
    }

    .work-lang {
        display: inline-block;
        margin: 1rem 0 1rem;
    }

    .work-lang-name {
        color: #eaeaea;
        font-size: 1.5rem;
        font-weight: 400;

    }

    #work-lang-before::before {
        background-color: #d0d0d0;
        content: "";
        display: inline-block;
        height: 15px;
        margin-right: 10px;
        transform: skew(-15deg, -15deg);
        vertical-align: middle;
        width: 1px;
    }

    .work-detail {
        word-wrap: break-word;
        color: #4e4e4e;

        font-size: 1rem;
        font-weight: 500;
        line-height: 180%;
        word-break: keep-all;
    }

    .work-link {
        cursor: pointer;
    }

    .work-link .icons {
        margin-right: 10px;
    }

    #work .wrap-work-img {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .work-detail-wrap {
        width: 500px;
    }


}


.section:nth-child(1) {
    background-color: #000;
}

@keyframes scroll_down {
    0% {
        transform: translateY(0)
    }

    100% {
        transform: translateY(-10px)
    }
}

.section:nth-child(2) {
    background-color: #fbffc5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}




.about-sklis strong {
    display: inline;
    box-shadow: inset 0 -10px 0 #fe8c13;
    color: #000;
}

.about-sklis tmi {
    display: inline;
    box-shadow: inset 0 -7px 0 #fe8c13;
}

.section:nth-child(3) {
    background-color: #ffffff;
}

html,
body {
    height: 100%;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.port-title {
    font-size: 30px;

}

.port-img {
    margin-left: 200px;
    width: 500px;
    height: 300px;
    border: solid;
}

.port-img2 {
    width: 500px;
    height: 300px;
    border: solid;
}

.port-lorem {
    text-align: left;
}

.port-lorem2 {
    text-align: left;
}

.port-content2 {
    margin-left: 200px;
}

.port-item {
    position: relative;
    cursor: pointer;
}

.port-item:hover .readmorebtn {
    display: block;
}



.reveal {
    position: relative;
    transform: translateY(-150px);
    opacity: 0;
    transition: 2s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
    display: block;
    white-space: nowrap;
}

.reveal2 {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1.5s all ease;
}

.reveal2.active {
    transform: translateY(0);
    opacity: 1;
}

.reveal3 {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
}

.reveal3.active {
    transform: translateY(0);
    opacity: 1;
}